*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

.div-all{
    background-image:url(./imges/bg99.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.div-a-a{
display: flex;
justify-content: center;
margin-top: 100px;

}
a{

padding: 10px;
color: rgb(255, 24, 82);
font-size: xx-large;
border: 2px solid  gold;
text-decoration: none;
border-radius: 15px;
display: inline-block;
margin: 10px 24px;
box-shadow: 4px 3px 8px rgb(158, 158, 98);

animation: 2s;
}



a:hover{

background-color: deeppink;
color: black;

}

@media screen and (max-width:450px){
    .div-a-a{
        margin-top: 60px;
        display: block;
        font-size: larger;
        align-items: center;
        text-align: center;
    }

a{
    font-size: large;
}
.div-a-a{
    padding: 7px;
}
}